.newform {
    border-radius: 15px;
    border: 1px solid #cecbc5;
    background-color: #f6f6f6;
    margin: 50px auto;
    padding: 20px;
    width: 95%; 
    box-sizing: border-box;
}

.label {
    color: #000505;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 5% auto 0;
}

input#image_url {
    width: 100%;
    margin: 10px auto; 
}

#name,
#breed,
#image_url,
#owner {
    width: 100%;
    height: 72px;
    border: 1px solid #d9d9d9;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px; 
}

.dog-area {
    border: 1px solid #d9d9d9;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 10px 20px; 
}

#button1 {
    background: #000505;
    border-radius: 20px;
    color: #f0f7f4;
    text-align: center;
    display: block;
    margin: 20px auto 50px; 
    border: none;
    padding: 10px 30px;
}

.form-title h1 {
    font-size: 23px;
    text-align: center;
    font-weight: 700;
}

.form-title p {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.adddog {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1rem;
    color: #f0f7f4;
}

/* Media queries for different screen sizes */
@media (max-width: 575.98px) {
    .newform {
        width: 90%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .newform {
        max-width: 80%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .newform {
        max-width: 70%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .newform {
        max-width: 60%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .newform {
        max-width: 50%;
    }
}