.footer-container {
    background-color: #FEF3D5;
    padding: 2rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper {
    display: flex;
}

.footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer-link-items h2 {
    padding: 16px;
}

.footer-link-items > h2 {
    color: black;
}

.footer-link-items .icon:hover {
    color: #00aaff;
    transition: 0.3s ease-out;
}

  /* Social Icons */
.social-icon-link {
    color: black;
    font-size: 34px;
}

.social-media {
    max-width: 1000px;
    width: 100%;
}

.icon{
  align-items: center;
  padding: 15px;
}

.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    max-width: auto;
    margin: 40px auto 0 auto;
}

.social-logo {
    color: black;
    justify-self: start;
    padding: auto;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: right;
}

.footer-logo {
  flex-direction: row;
}

.footer-logo :hover{
    color: #00aaff;
    transition: 0.3s ease-out;
}

.website-rights {
    color: black;
    padding: 15px;
    text-align: center;
    font-size: 20px;
}

  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }

    .footer-input {
      width: 100%;
    }

    .btn {
      width: 100%;
    }

    .footer-link-wrapper {
      flex-direction: column;
    }

    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }