/* Default styles for .signup-form */
.signup-form {
    background-color: #f6f6f6;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    max-width: 600px; /* Adjust the maximum width as needed */
    width: 90%; /* Adjust the width for smaller screens */
    margin: 0 auto;
    padding: 0 1rem 1rem;
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: 500;
}

.signup-form h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.signup-form input {
    margin: 0.25rem 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%; /* Make input fields full width */
}

.signup-form button[type="submit"] {
    width: 60%;
    margin: auto;
    padding: 5px;
    border: none;
    margin-top: 10px;
    color: #f6f6f6;
    margin-bottom: 10px;
    background-color: #000505;
    border-radius: 5px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .signup-form {
        width: 95%; /* Adjust width for smaller screens */
    }
}

@media (max-width: 576px) {
    .signup-form {
        width: 100%; /* Full width for even smaller screens */
        padding: 0.5rem; /* Adjust padding for smaller screens */
    }

    .signup-form button[type="submit"] {
        width: 100%; /* Make the submit button full width */
    }
}
