.signup-form{
    height: auto;
    width: auto;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid #cecbc5;
    background-color: #f6f6f6;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.label {
    width: 80px;
    height: 25px;
    left: 162px;
    top: 172px;
    color: #000505;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left: 150px;
    margin-top: 5%;
    margin-right: 30%;
}

.button2 {
    background: #000505;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin-left: 43%;
    border-style: none;
    padding: 10px 30px;
    margin-bottom: 50px;
}